# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Metadata files
.metadata/*
memoria/.project
memoria/.cpproject
memoria/src/cpu.log
swap/.cpproject
swap/.project
swap/src/cpu.log
cpu/.project
cpu/.cpproject
cpu/src/cpu.log
planificador/.cpproject
planificador/.project
planificador/src/cpu.log
